{% extends "base.html" %}

{% block title %}Item Detail{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ item.name }}</h1>
    <!-- Display item details -->
    <p>Quantity: {{ item.quantity }}</p>
    <p>Description: {{ item.description }}</p>
    <!-- Display the image, if an image URL is provided -->
    <td>
            <!-- Call the new route with item's UUID -->
        <img src="{{ url_for('items_bp.serve_item_image', item_id=item.id) }}" alt="{{ item.name }}" height="200">

    </td>
</div>
{% endblock %}
