<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BinGenie{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <nav>
            <!-- Navigation bar content -->
            <a href="{{ url_for('home_bp.home') }}">Home</a>
            <!-- Add more navigation links here -->
        </nav>
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>© 2024 BinGenie</p>
        {% endblock %}
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
