{% extends "base.html" %}

{% block title %}Home - BinGenie{% endblock %}

{% block content %}
<div class="home">
    <h1>Welcome to BinGenie!</h1>
    <p>Your home inventory management system.</p>
    <div class="button-container">
    <a href="{{ url_for('locations_bp.list_locations') }}" class="btn btn-primary">Locations</a>
    <a href="{{ url_for('bins_bp.list_bins') }}" class="btn btn-primary">Bins</a>
    <a href="{{ url_for('items_bp.list_items') }}" class="btn btn-primary">Items</a>
    </div>

</div>
{% endblock %}
